:root{
	--color-mid: #ef5839;
	--color-low: #2e354f;
	--color-high: #ffffff;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body,
main{
	margin:0;
	width:100%;
}
.container{
	width: 620px;
	margin:0 auto;
}
header,
section > * {
	margin-top:0;
	padding:2rem;
}
section > *:last-child {
	margin-bottom:0;
}
h2,a{
	color:var(--color-mid);
}

a{
	text-decoration: none;
}
a:focus,
a:hover{
	background-color:black;
}


b,strong{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1,h2{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header,.dark{
	background-color:var(--color-low);
	color: var(--color-high);
}
.light{
	background-color: var(--color-high);
	color: var(--color-low);
}

.links{
	display: flex;
	gap: 1rem;
}

.btn{
	text-decoration: none;
	padding: .5em 1em;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}
.frame{
	overflow: hidden;
}
.frame>*{
	width: 100%;
	display:block;
}
.btn-accent{
	color: var(--color-high);
	background-color: var(--color-mid);
}
.btn-light{
	color: var(--color-low);
	background-color: var(--color-high);
}
