---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<title>Responsive Web Design</title>
		<link rel="stylesheet" href="/src/styles/b4.css">
	</head>
	<body>
<main>
<header class="dark">
<div class="container">
<h1>CSS is a lot of fun
</h1>
</div>
</header>
<section class="light">
<div class="container">
<h2>
Section One Title.
</h2>
<p class="frame"><img src="/boardwalk.png" alt="a boardwalk"></p>

<p>
Netus et malesuada fames ac. <a href="#">Sed cras ornare arcu</a> dui vivamus. <b>Elementum integer enim neque</b> volutpat ac tincidunt vitae semper.
</p>
</div>
</section>
<section class="dark">
<div class="container">
<h2>
Section Two Title.
</h2>
<p>
Netus et malesuada fames ac. Sed cras ornare arcu dui vivamus. Elementum integer enim neque volutpat ac tincidunt vitae semper.
</p>
<p>
Lorem <a href="#">ipsum dolor sit amet</a>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. 
</p>
<p class="links">
<a class="btn btn-accent">contact us</a>
<a class="btn btn-light">more info</a>
</p>
</div>
</section>
</main>
    </body>
</html>
