---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Blog about Responsive Web Design</title>
		<link rel="stylesheet" href="/src/styles/blog.css">
	</head>
	<body>
	<header><h1>An Awesome Blog</h1></header>
	<main>
	<h2>An awesome blog post</h2>
	<p class="feature">
	<img src="/feature.png" alt="something magical">
	</p>
            <p>Netus et malesuada fames ac. <b>Sed cras ornare arcu dui vivamus.</b> Elementum integer enim neque volutpat ac tincidunt vitae semper.</p>
            <p>Netus et malesuada fames ac. Sed cras ornare arcu dui vivamus. <span class="accent-color">Elementum integer enim neque</span> volutpat ac tincidunt vitae semper.</p>
            <p class="links">
            <a href="#">Read more...</a>
            </p>
        </main>
    </body>
</html>
