---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Responsive Web Design</title>
		<link rel="stylesheet" href="/src/styles/global.css">
	</head>
	<body>
        <div class="card">
            <h1>Nisl suscipit adipiscing bibendum est ultricies integer quis auctor.</h1>
            <p>Netus et malesuada fames ac. <b>Sed cras ornare arcu dui vivamus.</b> Elementum integer enim neque volutpat ac tincidunt vitae semper.</p>
            <p>Netus et malesuada fames ac. Sed cras ornare arcu dui vivamus. <span class="accent-color">Elementum integer enim neque</span> volutpat ac tincidunt vitae semper.</p>
            <p class="links">
                <a href="blog">my blog</a> 
                <a href="b3">new blog</a> 
		<a class="btn" href="#">contact me</a>
		 <a class="btn" href="#">learn more about me</a>
            </p>
        </div>
    </body>
</html>
